.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0, 153, 255, 0.09);
    color: white;
  }

.ButtonActCrea {
  position:absolute;
  top: 20px;
  left: 80px;
  background-color: rgb(0, 153, 255); /* Color azul */
  color: white;
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 8px rgb(0, 153, 255);
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ButtonActCrea:hover {
  background-color: white;
  color: rgb(0, 153, 255);
  box-shadow: 0px 0px 15px rgb(0, 153, 255);
}
