.FondoForm{
  background-image: url("../../Components/Imagenes/52896.jpg"); 
  background-size: cover;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TitleForm {
    background-color: rgba(255, 255, 255, 0.5); 
    position: absolute;
    top: 20px;
    width: 50%;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 8px rgb(0, 153, 255);
    transition: all 0.2s ease-in-out;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

.Form { 
    background-color: rgba(255, 255, 255, 0.6); 
    display:flex;
    flex-direction:column;
    align-items:center;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 153, 255);
    margin-top: 10%;
    width:50%; 
    margin-bottom: 15px;
   
  }
  
  
  
  .Name, .Difficulty, .Duration, .Seasons, .Countries {
    margin: 10px;
    margin-bottom: 20px;
    display:inline;
  }
  
  .Name label, .Difficulty label, .Duration label, .Seasons label, .Countries label {
    margin-bottom: 10px;
   
    font-weight: bold;
  }
  
  .Name input, .Duration input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 153, 255);
  }
  
  .difficulty-group {
    display: flex;
    justify-content: center;
  }
  
  .difficulty-group input[type="check"] {
    
    display: none;
  }
  
  .difficulty-group label {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .Seasons select {
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 100%;
  }
  
  .Countries select {
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 100%;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 153, 255);
  }
  
  .ButtonX {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ButtonX div {
    margin-right: 10px;
  }
  
  .ButtonX input[type="button"] {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ButtonSub {
    margin-top: 20px;
    text-align: center;
  }
  
  .ButtonSub button {
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 8px rgb(0, 153, 255);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .ButtonSub :hover {
    background-color: white;
    color: rgb(0, 153, 255);
    box-shadow: 0px 0px 15px rgb(0, 153, 255);
    transform: translateY(-5px);
  }

  
  .ButtonSub p {
    margin-top: 10px;
    font-size: 12px;
  }
  .ButtonHomeForm{
    position: absolute;
    top: 70px;
    left: 40px;
    background-color: rgb(0, 153, 255); /* Color azul */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 8px rgb(0, 153, 255);
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
.ButtonHomeForm:hover {
    background-color: white;
    color: rgb(0, 153, 255);
    box-shadow: 0px 0px 15px rgb(0, 153, 255);
    transform: translateY(-5px);
    }
  
  .error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }
  
  