.Paginado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    }
    
    .Paginado__List {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .Paginado__Number {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    margin-right: 8px;
    }
    
    .Paginado__Number:hover {
    background-color: #ccc;
    }
    
    .Paginado__Number.active {
    background-color: #007bff;
    color: white;
    }