.Home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    
    .Home h1 {
    font-size: 2em;
    margin: 0.5em 0;
    }
    
    .Home button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    }
    
    .Home input[type="search"] {
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    }
    
    .Home hr {
    width: 100%;
    margin: 1em 0;
    }
    
    .Home .Cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    
    .Home .Cards .Card {
    width: 30%;
    margin: 1em;
    padding: 1em;
    background-color: #f2f2f2;
    }
    
    .Home .Cards .Card h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    }
    
    .Home .Cards .Card p {
    font-size: 1em;
    margin: 0.5em 0;
    }
    
    .Home .Cards .Card img {
    width: 100%;
    }
    
    .Home .Cards .Card button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top:1em;
    }