.FilterConteiner {
    /* background-image: url("../Imagenes/320285.jpg"); */
    background-image: url("../Imagenes/52896.jpg"); 
    color: white;
    padding: 1rem;
}
    
    .Cards__Box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 60%;
        width: 100%;
        align-items: stretch;
    }
    
    .OrderAZ, .OrderPop, .OrderCont, .OrderAct {
    background-color: rgb(0, 153, 255);
    margin: 15px;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.5rem;
    width: 20%;
    }
    
    .OrderAZ:focus, .OrderPop:focus, .OrderCont:focus, .OrderAct:focus {
    outline: none;
    }
    
    .OrderAZ option, .OrderPop option, .OrderCont option, .OrderAct option {
    background-color: rgb(0, 153, 255); 
    font-size: 0.9rem;
    padding: 0.5rem;
    }
    
    .OrderAZ option:hover, .OrderPop option:hover, .OrderCont option:hover, .OrderAct option:hover {
    background-color: rgb(0, 153, 255); 
    }
    
    .OrderAZ option:active, .OrderPop option:active, .OrderCont option:active, .OrderAct option:active {
    background-color: rgb(0, 153, 255); 
    }
    
    .OrderAZ option:checked, .OrderPop option:checked, .OrderCont option:checked, .OrderAct option:checked {
    background-color: rgb(0, 153, 255);
    color: white;
    }
