.Card {
  /* background-color: rgba(255, 255, 255, 0.7);  */
    background-color: rgba(255, 255, 255, 0.5); 
    display:flex;
    flex-direction:column;
    align-items:center;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 153, 255);
    width:15%; 
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .Card:hover{
    
    color: rgb(0, 153, 255);
    box-shadow: 0px 0px 15px rgb(0, 153, 255);
    transform: translateY(-10px);
   
  }
  
  .Flag {
    /* border-radius: 50%; */
    width: 100%;
    /* height: 40%; */
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }
  
  .cardFlag:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px white;
  }
  
  .Link {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  